@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
}

/* 상단바 */
.menu-bar {
  background-color: rgb(167, 30, 30);
  height: 50px;
}

/* 로고 */
.logo {
  width: 140px;
  height: 50px;
  margin-left: 20px;
}

/* 상단바의 검색 버튼 */
.menu-search {
  width: 38px;
  height: 38px;

  border: 2px solid black;

  float: right;
  margin-right: 25px;
  margin-top: 4px;
}

.menu-search:hover {
  background-color: rgb(244, 244, 244);
}

/* 배경 */
.background {
  color: white;

  height: 380px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ),
    url("./img/popcorn.jpeg");
  background-position: center;
  background-size: cover;
}

/* 배경 속 타이틀 */
.title {
  font-size: 30px;
  text-align: center;
  text-shadow: 3px 3px 5px gray;
}

#search-container {
  display: none;
}

/* 검색창 */
.input {
  width: 250px;
  height: 40px;

  border: 2px solid rgb(0, 0, 0);
  border-radius: 20px;

  margin-left: 30px;
  margin-top: 20px;
  padding-left: 20px;
}

/* 검색창 호버 */
.input:hover {
  border: 3px solid rgb(0, 0, 0);
}

/* 검색 버튼 */
.btn {
  height: 30px;

  border: 2px solid #000000;
  border-radius: 20px;

  margin-left: 15px;
}

/* 검색 버튼 호버 */
.btn:hover {
  border: 3px solid #000000;
}

/* 닫기 버튼 */
.close-btn {
  height: 30px;

  border: 2px solid #000000;
  border-radius: 20px;

  margin-left: 10px;
}

.close-btn:hover {
  border: 3px solid #000000;
}

/* movie-card를 감싸주는 movie */
#movie {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* !!! */

  /* background-color: rgba(255, 253, 238, 0.699); */
}

/* 영화 카드 */
.movie-card {
  background-color: rgb(186, 33, 33);

  width: 350px;
  height: 730px;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 10px;

  margin: 60px auto 10px auto;
  padding-top: 20px;
}

/* 영화 카드 호버 */
.movie-card:hover {
  background-color: rgb(54, 54, 54);
  color: #cccccc;

  transform: scale(1.03);
  transition: all 0.5s ease;
}

/* 영화 카드 내부 텍스트들 */
.movie-info {
  text-align: center;

  padding: 20px 10px 10px 10px;
}

.movie-title {
  font-size: 23px;
  margin-right: 15px;
}

/* 상단 이동 스크롤 버튼 */
.scroll-to-top {
  position: fixed;

  bottom: 20px;
  right: 8px;

  width: 40px;
  height: 40px;

  background-color: white;
  border: 3px solid black;
  border-radius: 40px;

  cursor: pointer;

  display: none;
  justify-content: center;
  align-content: center;
}
