@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
}

.menu-bar {
  background-color: rgb(167, 30, 30);
  height: 50px;
}

.logo {
  width: 140px;
  height: 50px;
  margin-left: 20px;
}

.menu-search {
  width: 41px;
  height: 38px;

  float: right;
  margin-right: 18px;
  margin-top: 5px;
}

.background {
  color: white;

  height: 380px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ),
    url("./img/popcorn2.jpeg");
  background-position: center;
  background-size: cover;
}

.title {
  font-size: 33px;
  text-align: center;
}

.input {
  width: 230px;
  height: 30px;

  /* background-color: rgba(255, 255, 255, 0.762); */

  border: 2px solid rgb(121, 101, 47);
  border-radius: 20px;
  /* box-shadow: 0px 3px 3px 0px gray; */

  margin-left: 115px;
  padding-left: 20px;
}

.input:hover {
  border: 3px solid rgb(121, 101, 47);
}

.btn {
  height: 30px;

  /* background-color: rgba(255, 255, 255, 0.762); */

  border: 2px solid #7b5e27;
  border-radius: 20px;

  margin-left: 15px;
}

.btn:hover {
  border: 3px solid #7b5e27;
}

#movie {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* !!! */

  background-color: rgba(255, 253, 238, 0.699);
}

.movie-card {
  background-color: rgb(186, 33, 33);

  width: 350px;
  height: 760px;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 10px;

  margin: 60px auto 10px auto;
  padding-top: 20px;
}

.movie-card:hover {
  background-color: rgb(34, 34, 34);
  color: #cccccc;

  transform: scale(1.03);
  transition: all 0.5s ease;
}

.movie-info {
  text-align: center;
  padding: 10px 10px 10px 10px;
}

.grade {
  width: 40px;
  height: 20px;

  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
}

.scroll-to-top {
  position: fixed;

  bottom: 20px;
  right: 8px;

  width: 40px;
  height: 40px;

  background-color: white;
  border: 3px solid black;
  border-radius: 40px;

  cursor: pointer;

  display: none;
  justify-content: center;
  align-content: center;
}
