<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie Search Page</title>

    <link rel="stylesheet" href="../static/style.css" />
    <script defer src="../static/main.js"></script>
  </head>

  <body>
    <h1>Movie Search</h1>
    <div class="search">
      <p>찾으시려는 영화를 검색하세요</p>
      <input type="'text" />
      <button onclick="search">검색</button>
    </div>
    <hr />
    <p id="movie"></p>
  </body>
</html>
